img {
  width: auto;
  height: 100%;
}
#gallery {
  display: flex;
  list-style: none;
}

.gallery__item {
  margin-left: 10px;
  width: auto;
  height: 160px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
